.about {
    padding-top: 60px;
    &__background {
        padding: 38px 5.3% 175px;
        background-color: #F9F9F9;
    }
    .section-name {
        margin-bottom: 32px;
    }
    .section-title {
        margin-bottom: 16px;
    }
    &__text {
        font-family: "Archivo";
        font-size: 14px;
        color: #777777;
        font-family: Archivo;
        line-height: 24px;
        margin-bottom: 24px;
    }
}

@media only screen and (min-width: 1000px) {
    .about {
        order: 2;
        padding-top: 0;
        &__background {
            width: 89%;
            transform: translate(-15%, 170px);
            padding-left: 23%;
        }
        .section-title {
            font-size: 50px;
        }
        .section-name,
        .section-title,
        &__text,
        &__button {
            transform: translateY(-100px);
        }
        &__text {
            max-width: 400px;
        }
    }
}

@media only screen and (min-width: 1150px) {
    .about {
        .section-title {
            font-size: 80px;
        }
    }
}
