.about-video {
    padding: 0 5.5%;
    margin-bottom: 50px;
    text-align: center;
    video {
        width: 80%;
        margin-bottom: 36px;
    }
    .text {
        font-family: Old Standard TT;
        font-size: 32px;
        font-weight: 400;
        line-height: 39.55px;
        letter-spacing: -1.159999966621399px;
    }
}

@media only screen and (min-width: 1000px) {
    .about-video {
        padding: 0 18.75%;
        video {
            margin-bottom: 70px;
        }
        .text {
            padding: 0 4.75%;
            font-size: 60px;
            line-height: 88.99px;
            letter-spacing: -2.1600000858306885px;
            margin-bottom: 75px;
        }
    }
}