.availability {
    font-family: "Roboto";
    background-color: #222222;
    padding: 36px 5%;
    &__label {
        display: block;
        margin-bottom: 23px;
        color: white;
        font-weight: 700;
    }
    &__input {
        display: inline-block;
        color: #686868;
        font-size: 14px;
        transform: translateY(-15%);
    }
    span {
        color: #BEAD8E;
        font-size: 16px;
        margin-right: 1%;
    }
    hr {
        border-color: #BEAD8E;
        margin-bottom: 30px;
    }
    button {
        max-width: 75%;
        padding: 23px 25px;
        margin-top: 12px;
    }
}

@media only screen and (min-width: 1000px) {
    .availability {
        margin-bottom: 120px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20%;
        padding-right: 20%;
        .input-container {
            width: 30%;
        }
        button {
            margin: 0;
            height: 100%;
            padding: 23px 25px;
        }
    }
    .availability > :nth-child(1) {
        margin-right: 5%; 
    }

    .availability > :nth-child(2) {
        margin-right: 7.5%;
    }
}