.banner {
    position: relative;
    background-color: var(--miranda-dark-gray);
    padding-top: 75px;
    padding-left: 5.5%;
    padding-right: 5.5%;
    margin-bottom: 48px;
    &--about {
        padding-bottom: 95px;
        margin-bottom: 60px;
    }
    &--rooms, &--room-details {
        padding-bottom: 80px;
        margin-bottom: 48px;
        .section-title {
            max-width: 60%;
        }
    }
    &--offers {
        padding-bottom: 96px;
        margin-bottom: 48px;
    }
    &--contact {
        padding-bottom: 95px;
        margin-bottom: 24px;
        .links-container__box {
            padding: 16px 30px !important;
        }
    }
    .links-container {
        position: absolute;
        bottom: 0;
        right: 5.5%;
        display: flex;
        justify-content: flex-end;
        &__box {
            display: flex;
            gap: 7.5px;
            padding: 16px 24px;
            background-color: white;
        }
        .link, .separator {
            font-family: Archivo;
            font-weight: 600;
            letter-spacing: -0.47999998927116394px;
            &--light {
                color: var(--miranda-brown)
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .banner {
        padding: 160px 15% 85px;
        .links-container {
            right: 15%;
        }
        &--offers {
            margin-bottom: 120px;
        }
        &--contact {
            padding-left: 5%;
            padding-right: 5%;
        }
        &--room-details {
            margin-bottom: 190px;
            padding-left: 10%;
            padding-right: 10%;
        }
    }
}

@media only screen and (min-width: 1330px) {
    .banner {
        &--contact {
            padding-left: 10%;
            padding-right: 10%;
        }
    }
}

@media only screen and (min-width: 1550px) {
    .banner {
        &--contact, &--room-details {
            padding-left: 15%;
            padding-right: 15%;
        }
    }
}

@media only screen and (min-width: 1760px) {
    .banner {
        padding-left: 20%;
        padding-right: 20%;
        &--contact {
            padding-left: 18.5%;
            padding-right: 18.5%;
        }
    }
}