.base {
    background-color: var(--miranda-dark-gray);
    padding: 75px 4%;
    .section-name, .section-title {
        margin-bottom: 40px;
    }
    &__button--1 {
        margin-bottom: 24px;
        padding-left: 47px;
        padding-right: 47px;
    }
    &__button--2 {
        background-color: unset;
        border: 2px solid #FFFFFF54
    }
}

