.cancellation {
    padding-left: 5.5%;
    padding-right: 5.5%;
    margin-bottom: 100px;
    .title {
        font-family: Old Standard TT;
        font-size: 30px;
        color: var(--miranda-black);
        margin-bottom: 13px;
    }
    hr {
        border: none;
        height: 1px;
        background-color: #F1F1F1;
        margin: 0;
        margin-bottom: 35px;
    }
    .description {
        line-height: 24px;
        color: var(--miranda-gray);
    }
}

@media only screen and (min-width: 1000px) {
    .cancellation {
        padding-right: unset;
        padding-left: 12.5%;
        width: 770px;
    }
}

@media only screen and (min-width: 1550px) {
    .cancellation {
        padding-left: 17.5%;
    }
}

@media only screen and (min-width: 1760px) {
    .cancellation {
        padding-left: 20%;
    }
}