.contact {
    &__title {
        font-family: Old Standard TT;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 34px;
    }
    .contact-container {
        display: flex;
        margin-bottom: 60px;
        &--last {
            margin-bottom: 32px;
        }
    }
    .icon {
        width: 40px;
        margin-right: 22px;
    }
    .name, .value {
        color: var(--miranda-gray);
        font-weight: 400;
    }
    .name {
        font-family: Old Standard TT;
        font-size: 20px;
        line-height: 24px;
    }
    .value {
        font-size: 14px;
    }
}

.contact-image-container {
    text-align: center;
    margin: 0 5% 60px;
}

.single-image-container--contact {
    padding-bottom: 200px;
}

@media only screen and (min-width: 1000px) {
    .contact-image-container {
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 30%;
    }
}

@media only screen and (min-width: 1330px) {
    .contact-image-container {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (min-width: 1550px) {
    .contact-image-container {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only screen and (min-width: 1760px) {
    .contact-image-container {
        margin-left: 18.5%;
        margin-right: 18.5%;
    }
}