.contact-form {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    margin-bottom: 60px;
    .input-container {
        display: flex;
        align-items: center;
        padding: 25px;
        background-color: #F8F8F8;
        margin-bottom: 16px;
        input {
            border: none;
            background: none;
            margin-top: 3px;
            color: var(--miranda-gray);
        }
        &--text-area {
            align-items: flex-start;
            textarea {
                border: none;
                background: none;
                width: 100%;
                min-height: 155px;
                font-family: Archivo;
            }
        }
        .icon {
            width: 16px;
            margin-right: 17px;
        }
    }
    button {
        padding: 20px 105px;
    }
}

@media only screen and (min-width: 1000px) {
    .contact-form {
        padding-left: 7.5%;
        padding-right: 7.5%;
        .row-of-two {
            display: flex;
            justify-content: space-between;
            gap: 3%;
            .input-container {
                width: 45%;
            }
        }
        .input-container {
            margin-bottom: 30px;
        }
    }
}

@media only screen and (min-width: 1330px) {
    .contact-form {
        padding-left: 17.5%;
        padding-right: 17.5%;
    }
}

@media only screen and (min-width: 1760px) {
    .contact-form {
        padding-left: 25%;
        padding-right: 25%;
    }
}