.contact {
    &__title {
        font-family: Old Standard TT;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 34px;
    }
    .contact-container {
        display: flex;
        margin-bottom: 60px;
        &--last {
            margin-bottom: 32px;
        }
    }
    .icon {
        width: 40px;
        margin-right: 22px;
    }
    .name, .value {
        color: var(--miranda-gray);
        font-weight: 400;
    }
    .name {
        font-family: Old Standard TT;
        font-size: 20px;
        line-height: 24px;
    }
    .value {
        font-size: 14px;
    }
}

.contact-image-container {
    text-align: center;
    margin-bottom: 60px;
    img {
        width: 90%;
    }
}

@media only screen and (min-width: 1000px) {
    .contact-image-container {
        padding-left: 5%;
        padding-right: 5%;
        img {
            width: 100%;
        }
    }
}

@media only screen and (min-width: 1330px) {
    .contact-image-container {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media only screen and (min-width: 1760px) {
    .contact-image-container {
        padding-left: 20%;
        padding-right: 20%;
    }
}