.dish {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    img {
        width: 120px;
        height: 120px;
        margin-right: 30px;
    }
    .name {
        margin: 0;
        margin-bottom: 12px;
        font-family: Old Standard TT;
        color: var(--miranda-black);
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.7200000286102295px;
    }
    .description {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
    .arrow {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .dish {
        position: relative;
        .description {
            margin-right: 5%;
            font-size: 16px;
        }
        .arrow {
            display: none;
            margin-right: 5%;
            width: 32px;
            height: 15px;
        }
        &:hover {
            background-color: var(--miranda-black);
            color: white;
            .name {
                color: white;
            }
            .arrow {
                display: block;
                margin-left: auto;
            }
        }
    }
}