.facilities {
    padding-top: 60px;
    text-align: center;
    margin-bottom: 60px;
    &--about {
        background-color: var(--miranda-black);
        color: white;
        padding-bottom: 42px;
        margin-bottom: 60px;
        .section-name {
            color: var(--miranda-silver);
        }
        .slide-container {
            background-color: #292929;
            .number {
                color: var(--miranda-black);
            }
        }
    }
    .section-title {
        margin-bottom: 32px;
    }
    .swiper-wrapper {
        text-align: left;
    }
    .slide-container {
        padding: 81px 38px 43px; 
    }
    .icon {
        width: 70px;
        height: 70px;
        margin-bottom: 38px;
    }
    .number {
        position: absolute;
        top: 0;
        right: 8.5%;
        font-size: 120px;
        font-weight: 700;
        color: #2222220A;
        z-index: 3;
    }
    .title {
        font-family: Old Standard TT;
        font-size: 30px;
        margin-bottom: 28px;
    }
    .description {
        max-width: 60%;
        font-size: 14px;
        line-height: 24px;
        color: var(--miranda-silver);
    }
    .swiper-pagination {
        position: absolute;
        bottom: 0;
    }
}

@media only screen and (min-width: 1000px) {
    .facilities {
        padding-bottom: 120px;
        margin-bottom: 120px;
        .swiper-slide {
            width: unset !important;
        }
        .swiper {
            &--facilities {
                width: 100%;
                margin: 0 0 0 50%!important;
                transform: translate(-50%);
            }
            .swiper-wrapper {
                display: grid !important;
                place-items: center;
                grid-template-columns: repeat(3, 1fr);
                row-gap: 20px;
            }
            .slide-container {
                position: relative;
                box-sizing: border-box;
                width: 375px;
                height: 370px;
                .number {
                    top: -5.5%;
                    right: 0;
                }
                .description {
                    max-width: unset;
                }
            }
        }
    }
}

@media only screen and (min-width: 1250px) {
    .facilities {
        .swiper {
            &--facilities {
                width: 95%;
            }
        }
    }
}

@media only screen and (min-width: 1600px) {
    .facilities {
        .swiper {
            &--facilities {
                width: 85%;
            }
        }
    }
}
