.facts {
    background-color: var(--miranda-black);
    color: white;
    text-align: center;
    padding: 48px 0;
    &__fact {
        margin-bottom: 60px;
    }
    img {
        width: 80px;
        height: 80px;
    }
    .number, .plus, .text {
        display: inline;
        font-family: Roboto;
        font-weight: 700;
    }
    .number {
        font-size: 60px;
    }
    .plus {
        font-size: 16px;
    }
    .text {
        color: #999999;
    }
}

@media only screen and (min-width: 1000px) {
    .facts {
        display: flex;
        justify-content: space-between;
        padding: 80px 5%;
        margin-left: 5%;
        margin-right: 5%;
        &__fact {
            margin-bottom: 0;
        }
    }
}

@media only screen and (min-width: 1250px) {
    .facts {
        margin-left: 7.5%;
        margin-right: 7.5%;
    }
}

@media only screen and (min-width: 1600px) {
    .facts {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (min-width: 1750px) {
    .facts {
        margin-left: 12.5%;
        margin-right: 12.5%;
    }
}