.icon-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 256px;
    z-index: 2;
    background-color: white;
    margin: auto;
    padding: 15px 24px;
    .icon {
        width: 16px;
        height: 16px;
        margin-left: unset;
    }
}