.icon-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 256px;
    max-width: 256px;
    box-sizing: border-box;
    z-index: 2;
    background-color: white;
    margin: auto;
    padding: 15px 24px;
    &--rooms-page {
        transform: translateY(-50%);
    }
    .icon {
        width: 16px;
        height: 16px;
        margin-left: unset;
    }
}