@media only screen and (min-width: 1000px) {
    .about-features-container {
        display: flex;
        padding-left: 5%;
        gap: 0;
        margin-bottom: 300px;
    }
}

@media only screen and (min-width: 1300px) {
    .about-features-container {
        padding-left: 15%;
    }
}

@media only screen and (min-width: 1400px) {
    .about-features-container {
        padding-left: 20%;
    }
}