.legal-info {
    padding: 16px 20px;
    background-color: #F8F8F8;
    p {
        font-family: Roboto;
        color: var(--miranda-black);
        font-weight: 700;
    }
    .copyright {
        margin-bottom: 24px;
    }
    .policies-container {
        display: flex;
    }
}

@media only screen and (min-width: 1000px) {
    .legal-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 18.75%;
        padding-right: 18.75%;
        .copyright {
            margin-bottom: unset;
        }
    }
}