.menu {
    padding: 115px 8.5% 0;
    margin-bottom: 60px;
    .donut {
        position: absolute;
        right: 0;
        margin-top: -115px;
        width: 115px;
        height: 115px;
        &--desktop {
            display: none;
        }
    }
    .section-name {
        margin-bottom: 24px;
    }
    .section-title {
        margin-bottom: 32px;
    }
    .swiper {
        height: auto;
    }
    .dish--last {
        margin-bottom: 24px;
    }
    &__buttons-container {
        display: flex;
        justify-content: flex-end;
        position: relative;
        gap: 12.5%;
        &--desktop {
            display: none;
        }
    }
    .button {
        width: 45px;
        height: 45px;
        transform: unset;
        position: relative;
    }
    .icon {
        font-size: 12px;
    }
    .single-image-container {
        width: 120px;
        height: 150px;
        margin-right: 30px;
        padding: unset;
    }
}

@media only screen and (min-width: 1000px) {
    .menu {
        padding-left: 5%;
        padding-right: 5%;
        position: relative;
        margin-bottom: 120px; 
        .donut {
            display: none;
            &--desktop {
                display: block;
                position: absolute;
                width: 229px;
                height: 229px;
                left: 5%;
                top: -25%;
                margin: 0;
            }
        }
        .title-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__buttons-container {
            display: none;
            &--desktop {
                display: flex;
                width: 15%;
                justify-content: space-between;
            }
        }
        .button {
            width: 70px;
            height: 70px;
        }

        .single-image-container {
            height: 120px;
        }
    }
}

@media only screen and (min-width: 1250px) {
    .menu {
        padding-left: 7.5%;
        padding-right: 7.5%;
    }
}

@media only screen and (min-width: 1750px) {
    .menu {
        padding-left: 18.5%;
        padding-right: 18.5%;
    }
}