.popular-list {
    text-align: center;
    padding: 50px 5%;
    background-color: var(--miranda-black);
    margin-bottom: 60px;
    .section-name {
        color: var(--miranda-brown);
    }
    .section-title {
        color: white;
        margin-bottom: 48px;
    }
    .swiper {
        .image {
            height: 218px !important;
        }
        &-button-prev {
            position: absolute;
            left: 1%;
        }
        &-button-next {
            position: absolute;
            right: 1%;
        }
    }
    .room-description-card {
        margin-top: -50px;
        padding-top: 50px;
        width: 100%;
        margin-left: unset;
        margin-right: unset;
        max-width: unset;
        padding-bottom: 24px;
    }
    .swiper-button-next,
    .swiper-button-prev {
        width: 45px;
        height: 45px;
    }
}

@media only screen and (min-width: 1000px) {
    .popular-list {
        .section-name {
            margin-bottom: 85px;
        }
        .section-title {
            margin-bottom: 80px;
        }
        padding: 60px 2.5% 120px;
        .swiper-slide {
            width: 300px;
        }
        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }
    }
}

@media only screen and (min-width: 1240px) {
    .popular-list {
        .swiper-slide {
            width: 370px;
        }
    }
}

@media only screen and (min-width: 1500px) {
    .popular-list {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media only screen and (min-width: 1800px) {
    .popular-list {
        padding-left: 15%;
        padding-right: 15%;
    }
}