.related-rooms {
    padding-left: 5.5%;
    padding-right: 5.5%;
    margin-bottom: 74px;
    .title {
        font-family: Old Standard TT;
        font-size: 30px;
        margin-bottom: 13px;
        color: var(--miranda-black);
    }
    hr {
        border: none;
        height: 1px;
        background-color: #F1F1F1;
        margin: 0;
        margin-bottom: 35px;        
    }
    .swiper {
        height: 410px;
        img {
            height: 218px;
        }
    }
    .icon-bar {
        height: 40px;
        transform: translateY(-50%);
        .icon {
            height: 16px;
        }
    }
    .room-description-card {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .swiper-button-next,
    .swiper-button-prev {
        width: 45px;
        height: 45px;
    }
}

@media only screen and (min-width: 1000px) {
    .related-rooms {
        padding-left: 10%;
        padding-right: 10%;
        .swiper-wrapper {
            gap: 5%;
        }
        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .related-rooms {
        .swiper-wrapper {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media only screen and (min-width: 1550px) {
    .related-rooms {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media only screen and (min-width: 1760px) {
    .related-rooms {
        padding-right: 15%;
        padding-left: 18.5%;
    }
}