.rooms {
    text-align: center;
    margin-bottom: 30px;
    .icon-bar {
        transform: translateY(50%);
    }
    .icon-bar--desktop {
        display: none;
    }
    .swiper--rooms--desktop {
        display: none;
    }
    .swiper-slide {
        cursor: pointer;
    }
    .swiper-button-next,
    .swiper-button-prev {
        width: 45px;
        height: 45px;
    }
}

@media only screen and (min-width: 1000px) {
    .rooms {
        margin-bottom: 60px;
        .section-title {
            margin-bottom: 85px;
        }
        .icon-bar--mobile {
            display: none;
        }
        .icon-bar--desktop {
            display: flex;
        }
        .swiper--rooms--desktop {
            display: block;
        }
        .swiper--rooms--mobile {
            display: none;
        }
        .swiper {
            .room-description-card {
                max-width: 80%;
            }
            .swiper-button-next,
            .swiper-button-prev {
                transform: translateY(-150%);
                width: 70px;
                height: 70px;
            }
            .swiper-button-next {
                right: 24.5%;
            }
            .swiper-button-prev {
                left: 24.5%;
            }
            .single-image-container {
                padding-bottom: 80%;
            }
        }
    }
}

@media only screen and (min-width: 1600px) {
    .rooms {
        .swiper {
            .room-description-card {
                max-width: 60%;
            }
        }
    }
}