.room-list {
    padding: 0 5%;
    text-align: center;
    img {
        width: 335px;
        height: 220px;
    }
}
.booking-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media only screen and (min-width: 1000px) {
    .room-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 5% 20%;
    }
}