.room-details-description {
    padding-left: 5.5%;
    padding-right: 5.5%;
    color: var(--miranda-gray);
    font-family: Roboto;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 60px;
    &--desktop {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .room-details-description {
        &--mobile {
            display: none;
        }
        &--desktop {
            display: block;
            padding: 0;
        }
    }
}