.room-offer {
    box-shadow: 0px 14px 24px 0px #B8B8B81A;
    margin: 0 5% 32px;
    .image-container {
        text-align: center;
        position: relative;
        margin-bottom: 16px;
    }
    .image {
        width: 100%;
        max-height: 85%;
    }
    .prices-container {
        &--mobile {
            position: absolute;
            bottom: 5%;
            right: 5%;
            text-align: right;
        }
        &--desktop {
            display: none;
        }
    }
    .old-price, .old-price-divisor,
    .new-price, .new-price-divisor {
        display: inline-block;
        font-weight: 700;
    }
    .old-price-container {
        margin-bottom: 2px;
    }
    .old-price {
        font-size: 23px;
        color: var(--miranda-brown);
        text-decoration: line-through;
    }
    .old-price-divisor {
        font-size: 13px;
        color: var(--miranda-brown);
        margin-left: -2px;
        text-decoration: line-through;
    }
    .new-price {
        font-size: 30px;
        color: #DE5777;
    }
    .new-price-divisor {
        color: #DE5777;
        font-size: 13px;
        margin-left: -2px;
    }
    hr {
        display: none;
    }
    .description-container {
        padding: 0 6% 32px;
        .section-name {
            margin-bottom: 12px;
        }
        .section-title {
            font-size: 40px;
            letter-spacing: -1.44px;
            line-height: 48px;
            margin-bottom: 16px;
        }
        .description {
            font-family: Roboto;
            font-size: 14px;
            line-height: 24px;
            color: var(--miranda-gray);
            margin-bottom: 24px;
        }
        .amenities {
            padding: unset;
            margin-bottom: 24px;
            &-container {
                column-gap: 20px;
            }
        }
        button {
            padding-left: 57.5px;
            padding-right: 57.5px;
        }
        .desktop-button {
            display: none;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .room-offer {
        box-shadow: unset;
        margin: unset;
        padding-left: 15%;
        padding-right: 15%;
        .description-container {
            transform: translateY(-15%);
            background-color: white;
            margin-left: 5%;
            margin-right: 5%;
            padding: 60px;
            border-top: 6px solid var(--miranda-brown);
        }
        .section-title {
            max-width: 70%;
        }
        .header-info {
            display: flex;
            justify-content: space-between;
        }
        .prices-container {
            &--mobile {
                display: none;
            }
            &--desktop {
                display: inline-block;
                text-align: end;
            }
            .new-price-container {
                min-width: 110px;
            }
        }
        hr {
            display: block;
            border: none;
            height: 1px;
            background-color: #ECECEC;
            margin-bottom: 35px;
        }
        .bottom-info {
            display: flex;
            gap: 7.5%;
            .description {
                max-width: 500px;
                margin-bottom: 16px;
            }
            .desktop-button {
                display: block;
            }
        }
        button {
            display: none;
        }
    }
}

@media only screen and (min-width: 1130px) {
    .room-offer {
        .section-title {
            max-width: unset;
        }
        .new-price-container {
            min-width: unset;
        }
    }
}

@media only screen and (min-width: 1760px) {
    .room-offer {
        padding-left: 20%;
        padding-right: 20%;
    }
}