.room-description-card {
    background-color: white;
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
    padding: 19px 24px;
    box-sizing: border-box;
    text-align: center;
    &--home {
        position: relative;
        transform: translateY(-25%);
        z-index: 2;
    }
    &--rooms-page {
        margin-top: -25px;
        margin-bottom: 24px;
        padding: 19px 0;
        .title {
            font-size: 24px !important;
        }
        .description {
            line-height: 24px;
            font-weight: lighter;
        }
        .price {
            font-size: unset !important;
        }
        .booking {
            font-weight: 700;
            color: #BDBDBD;
        }
    }
    .title {
        font-size: 28px;
        font-family: Old Standard TT;
        font-weight: 400;
        margin-bottom: 12px;
    }
    .description {
        font-size: 14px;
        color: #777777;
        margin-bottom: 12px;
    }
    .price, .divisor {
        display: inline-block;
        color: #BEAD8E;
        font-weight: 700;
    }
    .price {
        font-size: 32px;
    }
    .divisor {
        font-size: 13px;
        margin-left: -2px;
    }
}