:root {
  --miranda-black: #222222;
  --miranda-brown: #BDAC8D;
  --miranda-silver: #C2C2C2;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Archivo;
}

body {
  margin: 0;
}

h1, h2, p {
  margin: 0;
}

.hidden {
  display: none;
}

button {
  font-family: "Archivo";
}

.section-name {
  font-family: "Archivo";
  font-size: 13px;
  font-family: Archivo;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2.7999999523px;
  margin-bottom: 24px;
  color: #777777;
}
.section-name--1 {
  max-width: 60%;
  color: white;
}

.section-title {
  font-family: "Old Standard TT";
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2000000477px;
  font-weight: 400;
}
.section-title--1 {
  color: white;
}

img {
  width: 100%;
}

button {
  font-family: "Archivo";
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.7999999523px;
  text-align: left;
  padding: 23px 45px;
  background-color: #BEAD8E;
  color: white;
  border: unset;
}

.swiper {
  width: 100%;
  height: 300px;
}
.swiper--facilities {
  height: unset;
}
.swiper img {
  width: 100%;
  height: 100%;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  width: 32px;
  height: 32px;
  background-color: #BDAC8D;
  color: white;
}
.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  font-size: 10px;
}
.swiper .swiper-button-prev.disabled,
.swiper .swiper-button-next.disabled {
  background-color: white;
  color: black;
}
.swiper-pagination-bullet {
  background-color: var(--miranda-brown) !important;
}

.base {
  background-color: #333333;
  padding: 75px 4%;
}
.base .section-name, .base .section-title {
  margin-bottom: 40px;
}
.base__button--1 {
  margin-bottom: 24px;
}
.base__button--2 {
  background-color: unset;
  border: 2px solid rgba(255, 255, 255, 0.3294117647);
}

.header {
  margin: 17px 0 17px 5.5%;
  display: flex;
  align-items: center;
}
.header__icons-container {
  position: absolute;
  right: 10%;
  display: flex;
}
.header .hamburger-menu {
  display: inline-block;
  margin-right: 5%;
}
.header .logo {
  display: inline-block;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
  font-family: "Archivo";
  font-weight: 700;
  font-size: 16px;
  padding: 10px 12px;
  margin-right: 3.6%;
}
.header .logo p {
  margin: 0;
}
.header .hotel-name {
  display: inline-block;
  font-family: "Archivo";
  width: 60px;
  height: 20px;
}
.header .icon {
  display: inline-block;
  margin-left: auto;
  width: 24px;
  height: 24px;
}
.header .icon--profile {
  margin-right: 30%;
}

.availability {
  font-family: "Roboto";
  background-color: #222222;
  padding: 36px 5%;
}
.availability__label {
  display: block;
  margin-bottom: 23px;
  color: white;
  font-weight: 700;
}
.availability__input {
  display: inline-block;
  color: #686868;
  font-size: 14px;
  transform: translateY(-15%);
}
.availability span {
  color: #BEAD8E;
  font-size: 16px;
  margin-right: 1%;
}
.availability hr {
  border-color: #BEAD8E;
  margin-bottom: 30px;
}
.availability button {
  max-width: 75%;
  padding: 23px 25px;
  margin-top: 12px;
}

.about {
  padding-top: 60px;
}
.about__background {
  padding: 38px 5.3% 175px;
  background-color: #F9F9F9;
}
.about .section-name {
  margin-bottom: 32px;
}
.about .section-title {
  margin-bottom: 16px;
}
.about__text {
  font-family: "Archivo";
  font-size: 14px;
  color: #777777;
  font-family: Archivo;
  line-height: 24px;
  margin-bottom: 24px;
}

.brand-features {
  width: 100%;
  max-width: 270px;
  margin: auto;
}
.brand-features__background-container {
  background-color: #222222;
  padding-bottom: 40px;
}
.brand-features__feature-container {
  text-align: center;
  transform: translateY(-20%);
  padding-bottom: 40px;
}
.brand-features__feature-container--2 {
  margin-bottom: -100px;
  color: white;
}
.brand-features__feature-container .icon {
  width: 68px;
  height: 50px;
  margin-bottom: 30px;
  margin-left: unset;
  transform: unset;
}
.brand-features__feature-container .icon--diluted {
  position: absolute;
  margin-left: unset;
  transform: unset;
  z-index: -1;
  width: 144px;
  height: 106px;
  right: 13%;
}
.brand-features__feature-container .icon--calendar {
  width: 60px;
  height: 50px;
}
.brand-features__feature-container img {
  width: 270px;
  height: 300px;
  margin-bottom: 54px;
}
.brand-features__feature-container .title {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.8999999762px;
  margin-top: 0;
}
.brand-features__feature-container .description {
  font-family: Roboto;
  font-size: 14px;
  margin: auto;
  font-weight: 400;
  line-height: 22px;
  max-width: 200px;
}

.rooms {
  text-align: center;
}
.rooms .icon-bar {
  transform: translateY(50%);
}

.icon-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 256px;
  z-index: 2;
  background-color: white;
  margin: auto;
  padding: 15px 24px;
}
.icon-bar .icon {
  width: 16px;
  height: 16px;
  margin-left: unset;
}

.room-description-card {
  background-color: white;
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
  padding: 19px 24px;
  box-sizing: border-box;
  text-align: center;
}
.room-description-card--home {
  position: relative;
  transform: translateY(-25%);
  z-index: 2;
}
.room-description-card__title {
  font-size: 28px;
  font-family: Old Standard TT;
  font-weight: 400;
  margin-bottom: 12px;
}
.room-description-card .description {
  font-size: 14px;
  color: #777777;
  margin-bottom: 12px;
}
.room-description-card__price, .room-description-card__divisor {
  display: inline-block;
  color: #BEAD8E;
  font-weight: 700;
}
.room-description-card__price {
  font-size: 32px;
}
.room-description-card__divisor {
  font-weight: 13px;
}

.intro-video {
  background-color: var(--miranda-black);
  padding: 64px 5% 48px;
}
.intro-video .section-name {
  color: var(--miranda-brown);
  margin-bottom: 32px;
}
.intro-video .section-title {
  color: white;
  max-width: 85%;
  margin-bottom: 16px;
}
.intro-video .description {
  font-size: 14px;
  color: var(--miranda-silver);
  font-family: Archivo;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
}
.intro-video video {
  width: 100%;
  margin-bottom: 36px;
}

.facilities {
  padding-top: 60px;
  text-align: center;
  margin-bottom: 60px;
}
.facilities .section-title {
  margin-bottom: 32px;
}
.facilities .swiper-wrapper {
  text-align: left;
}
.facilities .slide-container {
  padding: 81px 38px 43px;
}
.facilities .icon {
  width: 70px;
  height: 70px;
  margin-bottom: 38px;
}
.facilities .number {
  position: absolute;
  top: 0;
  right: 8.5%;
  font-size: 120px;
  font-weight: 700;
  color: rgba(34, 34, 34, 0.0392156863);
  z-index: 3;
}
.facilities .title {
  font-family: Old Standard TT;
  font-size: 30px;
  margin-bottom: 28px;
}
.facilities .description {
  max-width: 60%;
  font-size: 14px;
  line-height: 24px;
  color: var(--miranda-silver);
}
.facilities .swiper-pagination {
  position: absolute;
  bottom: 0;
}

.menu {
  padding: 115px 8.5% 0;
  margin-bottom: 60px;
}
.menu .donut {
  position: absolute;
  right: 0;
  margin-top: -115px;
  width: 115px;
  height: 115px;
}
.menu .section-name {
  margin-bottom: 24px;
}
.menu .section-title {
  margin-bottom: 32px;
}
.menu .dish--last {
  margin-bottom: 24px;
}
.menu__buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}
.menu button {
  padding: 13px 15px;
}
.menu .icon {
  font-size: 12px;
}

.dish {
  display: flex;
  margin-bottom: 16px;
}
.dish img {
  width: 120px;
  height: 120px;
  margin-right: 30px;
}
.dish .name {
  margin: 0;
  margin-bottom: 12px;
  font-family: Old Standard TT;
  color: var(--miranda-black);
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.7200000286px;
}
.dish .description {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.carousel {
  text-align: center;
  margin-bottom: 90px;
}
.carousel img {
  width: 90%;
  height: 335px;
}
.carousel .swiper-pagination {
  position: absolute;
}

.facts {
  background-color: var(--miranda-black);
  color: white;
  text-align: center;
  padding: 48px 0;
}
.facts__fact {
  margin-bottom: 60px;
}
.facts img {
  width: 80px;
  height: 80px;
}
.facts .number, .facts .plus, .facts .text {
  display: inline;
  font-family: Roboto;
  font-weight: 700;
}
.facts .number {
  font-size: 60px;
}
.facts .plus {
  font-size: 16px;
}
.facts .text {
  color: #999999;
}

/*# sourceMappingURL=style.css.map */
