:root {
    --miranda-black: #222222;
    --miranda-dark-gray: #333333;
    --miranda-brown: #BDAC8D;
    --miranda-silver: #C2C2C2;
    --miranda-gray: #777777;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Archivo;
}

body {
    margin: 0;
}

h1, h2, p {
    margin: 0;
}

.hidden {
    display: none;
}

button {
    font-family: "Archivo";
}

.section-name {
    font-family: "Archivo";
    font-size: 13px;
    font-family: Archivo;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.799999952316284px;
    margin-bottom: 24px;
    color: #777777;
    &--1 {
        color: white;
    }
    &--base {
        max-width: 60%;
    }
}

.section-title {
    font-family: "Old Standard TT";
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -1.2000000476837158px;
    font-weight: 400;
    &--1 {
        color: white;
    }
    &--room {
        font-size: 40px;
    }
}

img {
    width: 100%;
}

.black-strip {
    width: 100%;
    height: 100px;
    background-color: black;
}

@media only screen and (max-width: 1000px) {
    .black-strip {
        display: none;
    }
}

button {
    font-family: "Archivo";
    font-size: 14px;
    font-weight: 700;
    line-height: 15.23px;
    letter-spacing: 2.799999952316284px;
    text-align: left;
    padding: 23px 45px;
    background-color: #BEAD8E;
    color: white;
    border: unset;
}

@import 'index', 'swiper', 'base', 'header', 'availability', 'about', 'brand-features', 'rooms', 'icon-bar', 'room-description-card', 'intro-video', 'facilities', 'menu', 'dishes', 'carousel', 'facts', 'footer', 'services', 'contact', 'legal-info', 'banner', 'about-video', 'about-features', 'restaurant', 'counter', 'room-list', 'rooms-pagination', 'room-basic-info', 'room-details-availability', 'room-details-description', 'amenities', 'founder-info', 'cancellation', 'related-rooms', 'room-offer', 'popular-list', 'info', 'contact-form'