.swiper {
    width: 100%;
    height: 300px;
    img {
        width: 100%;
        height: 100%;
    }
    .swiper-button-prev,
    .swiper-button-next {
        width: 32px;
        height: 32px;
        background-color: #BDAC8D;
        color: white;
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 10px;
    }
    .swiper-button-prev.disabled,
    .swiper-button-next.disabled {
        background-color: white;
        color: black
    }
}
